<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176865440703-3vril7l1fjks22b67fadir33nar6hrv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176865440703-3vril7l1fjks22b67fadir33nar6hrv5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>176865440703-1uk8rqhrg71iiuumt3jsb02nc180h3m6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_oG0UxUJESAV-VSmFt1A_Z8xHnUBR1Qs</string>
	<key>GCM_SENDER_ID</key>
	<string>176865440703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campsu</string>
	<key>PROJECT_ID</key>
	<string>campsu-8f97d</string>
	<key>STORAGE_BUCKET</key>
	<string>campsu-8f97d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176865440703:ios:f7bea05c926928e5d5270a</string>
</dict>
</plist>